@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
}
img{
	width:220px;
	height: 165px;
	border: 1px solid #ccc;
}
dl{
	width: 970px;
	height: 450px;
	margin: auto;
	padding: 12px 12px 0px 12px;
	border: 1px solid #ccc;
}
dl dt{
	float:left;
	margin: 0 12px 12px 0;
	display: inline;
}
dl dt a{
	display: block;
	width: 230px;
	height: 210px;
	text-align: center;
}

