@charset "utf-8";
/* CSS Document */
ul{
	list-style: none;
}
li{
	float:left;
	width:100px;
	margin-left:3px;
	line-height:30px;
}
a:link{
	color:#666;
	background: #CCC;
	text-decoration: none;
}
a:visited{
	color:#666;
	text-decoration:underline;
}
a:hover{
	color:#FFF; 
	font-weight:bold;
	text-decoration:underline;
	background:#F00;
}
a{
	display:block;
	text-align:center;
	height:30px;
}
