@charset "utf-8";
/* CSS Document */
.box{
	width:765px;
	height: 550px;
	background-color: beige;
	margin: auto;
}
.h2{
	margin:10px 10px 0px 10px;
}
.box1{
	width: 470px;
	height: 480px;
	float: left;
	margin:0px 0px 0px 10px;
}	
.img1{
	width:470px;
	height:370px;
	border:1px solid black;
}
.li{
	width: 280px;
	height: 370px;
	float: right;
}
#submit1{
	float:left;
	margin: 10px 10px 0px 40px;
	background-color: green;
	color: white;
}
#submit2{
	float:left;
	margin: 10px 10px 0px 0px;
	background-color: darkslategrey;
	color: lawngreen;
}
.img2{
	width:450px;
	height: 80px;
	padding:10px 10px 5px 10px;
	background-color: white;
	border:1px solid black;
	margin:5px 0px 0px 0px;
}
